extends _template

block main
    .container.py-3
        .row.mb-5
            .col
                a(href="#").btn.btn_primary Кнопка
            .col
                a(href="#").btn.btn_primary.btn_ico
                    i.icm.icm-play
                    | Кнопка
            .col
                a(href="#").btn.btn_primary.btn_disabled Кнопка
        .row.mb-5
            .col
                a(href="#").btn.btn_light Кнопка
            .col
                a(href="#").btn.btn_light.btn_ico
                    i.icm.icm-play
                    | Кнопка
            .col
                a(href="#").btn.btn_light.btn_ico.btn_disabled
                    i.icm.icm-play
                    | Кнопка
        .row.mb-5
            .col
                a(href="#").btn.btn_bd Кнопка
            .col
                a(href="#").btn.btn_bd.btn_ico
                    i.icm.icm-play
                    | Кнопка
            .col
                a(href="#").btn.btn_bd.btn_disabled Кнопка
        .row.mb-5
            .col
                .tab-nav
                    .tab-nav__inner
                        .tab-nav__item.tab-nav__item_active Жилые комплексы
                        .tab-nav__item Предприятия
                        .tab-nav__item Офисы
                        .tab-nav__item Распределенные объекты
                        .tab-nav__item Парковки
        .row
            .col
                vue-input(
                    name="name"
                    type="text"
                    title="Имя"
                    placeholder="Иван"
                    error-text="Ошибка"
                )
            .col
               vue-input(
                    name="tel"
                    type="tel"
                    title="Телефон"
                    placeholder="+7 (920) 899-99-99"
                    mask="+7(999) 999-99-99"
                    error-text="Текст ошибки"
                )
            
block x-templates
    script(type="text/x-template" id="vue-input")
         label
            .input(:class="{'input_focus':isFocus, 'input_error':isError}")
                span.input__input
                    input(
                        :name="name"
                        :type="type" 
                        :placeholder="placeholder" 
                        v-model="text"
                        v-masked="mask"
                        @focus="isFocus=true"
                        @blur="blur"
                    )
                    span.input__placeholder {{title}}
            .input__error(v-if="isError===true") {{errorText}}